body {
	background-color: black;
}
h1 {

}

#banner {
	padding-top:50px;
	padding-bottom:20px;
}

#banner img{
	max-width: 100%;
	clear:both;
}
#subbanner {
	/*position:absolute;*/
	margin-top:-200px;

}
#subbanner img{
	/*position:relative;*/
	max-width: 70%;
	-ms-transform:rotate(-15deg);
	-webkit-transform:rotate(-15deg);
	transform:rotate(-15deg);
	clear:none;
	z-index: 30;
	margin-left:-50px;
	position:relative;
	/*margin-top:-50px;*/
	/*top:-50px;
	margin:-100px;*/
	/*top:-100px;*/
}

#midsection {
	/*background-image:url('http://placehold.it/400x300');*/
	margin-top:50px;
	height:600px;
}
#leftmidsection {
	height:400px;
}

#leftmidsection span {
	margin:auto;
	text-align:center;
	display:block;
	color:white;
}
#leftmidsection img {
	clear:both;
	padding-top:0px;
	max-width:100%;
	z-index:2;
	position:relative;
}

#rightmidsection {
	height:400px;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
}

#rightmidsection span, p {
	color:white;
}